.ParticipateDetail {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* 블러*/
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    backdrop-filter: blur(5px); /* 블러 처리 */
    z-index: 1; /* 모달보다 위에 위치하도록 설정 */
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    flex-grow: 1;
    height: auto;
    &-name {
      width: 30%;
      display: flex;
      gap: 5%;
      align-items: center;
      span {
        font-size: 1.3vw;
        color: #868e96;
      }
      img {
        width: 30px;
        height: 30px;
        background-color: #868e96;
      }
      .bold_name {
        font-weight: bolder;
        font-size: 2vw;
        color: black;
      }
    }

    &-title {
      font-size: 2vw;
      font-weight: bolder;
    }

    &-info {
      height: 20%;
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      gap: 10%;

      .bold_span {
        font-weight: bolder;
        width: 12%;
        font-size: 1.1vw;
      }

      &-top {
        display: flex;
      }
      &-center {
        display: flex;
        gap: 2%;

        &-left {
          width: 40%;
          display: flex;
          flex-wrap: wrap;

          .bold_span_center {
            font-weight: bolder;
            padding-right: 10%;
            font-size: 1.1vw;
          }
          .round_span {
            background-color: #e9ecef;
            padding: 1%;
            border-radius: 10px;
            font-size: 0.9vw;
            font-weight: bolder;
            width: 10%;
            height: 50%;
            margin-right: 1%;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &-right {
          width: 40%;
          display: flex;
          flex-wrap: wrap;

          .bold_span_center {
            font-weight: bolder;
            padding-right: 10%;
            font-size: 1.1vw;
          }
          .round_span {
            background-color: #fff3eb;
            padding: 1%;
            border-radius: 10px;
            font-size: 0.9vw;
            font-weight: bolder;
            width: 10%;
            height: 50%;
            margin-right: 1%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fc8129;
          }
        }
      }
      &-bottom {
        display: flex;
        gap: 0.5%;

        img {
          width: 2%;
          padding: 0.2%;
          box-sizing: border-box;
          border-radius: 100px;
          border: 1px solid gray;
        }
      }
    }

    hr {
      width: 100%;
    }

    &-text {
      font-size: 1.2vw;
      margin-top: 1%;
    }
  }

  .bottom_btn {
    width: 20%;
    height: 5%;
    border-radius: 5px;
    border: none;
    background-color: #1059c1;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
