.Child1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .q1 {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    span {
      font-weight: bolder;
    }

    input {
    }
  }

  .q2 {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-weight: bolder;
    }

    &-box {
      display: flex;
      justify-content: center;
      gap: 5%;
      height: 100%;
      width: 100%;

      &-item {
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 15%;
        height: 50%;
        border: 1px solid gray;
      }
    }
  }

  .q3 {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-weight: bolder;
    }

    &-box {
      display: flex;
      justify-content: center;
      gap: 5%;
      height: 100%;
      width: 100%;

      &-item {
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 15%;
        height: 50%;
        border: 1px solid gray;
      }
    }
  }

  .q4 {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-weight: bolder;
    }

    &-box {
      display: flex;
      justify-content: center;
      gap: 5%;
      height: 100%;
      width: 100%;

      &-item {
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 15%;
        height: 50%;
        border: 1px solid gray;
      }
    }
  }
}

.Child2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;

  align-items: center;

  .title {
    font-size: 1.5vw;
    font-weight: bolder;
    text-align: center;
  }
  .skills {
    width: 80%;
    height: 100%;

    &-item {
      box-sizing: border-box;
      border: 1px solid gray;
      width: 30%;
      height: 8%;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;
      border-radius: 5px;

      font-size: 1vw;
    }
  }
}

.Child4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20%;

  align-items: center;
  .title {
    font-size: 1.5vw;
    font-weight: bolder;
    text-align: center;
  }

  .time {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 5%;

    &-item {
      width: 80%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid gray;
    }
  }
}

.Child5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;

  align-items: center;
  .title {
    font-size: 1.5vw;
    font-weight: bolder;
    text-align: center;
  }

  .img {
    width: 40%;
    padding-top: 40%;
    border-radius: 100%;
    background-color: antiquewhite;
  }
  .intro {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    gap: 5%;
    align-items: center;

    span {
      font-size: 1vw;
      font-weight: bolder;
    }
    textarea {
      width: 80%;
      height: 50%;
      margin: 0;
      resize: none;
      border-radius: 10px;
    }
  }
}

.Child6 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  justify-content: center;

  img {
    width: 10%;
    padding-top: 10%;
    background-color: antiquewhite;
  }

  .title {
    font-size: 2vw;
  }
}
