@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/Pretendard-Regular.otf");
}
.Participate {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard";
  /* 블러*/
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    backdrop-filter: blur(5px); /* 블러 처리 */
    z-index: 1; /* 모달보다 위에 위치하도록 설정 */
  }

  .skillSelector {
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 30%;
    background-color: #dee2e6;
    border-radius: 10px;
    top: 25%;
    left: 3%;
    padding: 2%;
    display: flex;
    flex-direction: column;

    button {
      width: 10%;
      position: relative;
      left: 90%;
      top: -5%;

      background: #adb5bd;
      border: none;
    }

    .skill-item {
      display: flex;
      overflow: auto;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 10%;
      height: 100%;

      input {
        display: none;
      }
      input:checked + .wrapper {
        background-color: gray;
        color: white;
      }
      .wrapper {
        display: flex;
        width: 15%;
        height: 12%;
        padding: 1%;
        align-items: center;
        justify-content: center;

        gap: 5%;
        border-radius: 5px;
        box-sizing: border-box;
        img {
          width: 15px;
          height: 15px;
          object-fit: cover;
          /* 비율을 유지하기 위해 높이는 자동으로 설정 */
        }
        label {
          font-size: 1vw;
          flex-grow: 1;
        }
      }
    }
  }

  .menu {
    box-sizing: border-box;
    padding: 3%;
    width: 30%;
    margin-top: 7vh;
    &-tap {
      font-size: 1.3vw;
      display: flex;
      justify-content: space-between;
      font-weight: bolder;

      .active {
        color: #007bff; /* 원하는 스타일 추가 */
      }
    }

    &-filter {
      display: flex;
      gap: 5%;
      margin-top: 5%;
      select {
        padding: 7%;
        height: 100%;
        border-radius: 10px;
        box-sizing: border-box;
      }
      span {
        width: 20%;
        font-size: 1vw;
        text-align: center;
        border: 1px solid gray;
        padding: 1.5%;
        border-radius: 10px;
      }
    }
  }

  .content {
    height: 100%;
    padding: 0 3% 3% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
    row-gap: 5%;
  }
}
