// @import "../../style/mixin.scss";
.InfiniteLoop {
  // 애니메이션
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  &__slider {
    overflow-x: hidden;
  }
  &__inner {
    display: flex;
    width: fit-content;
    animation: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;

    & > * {
      flex-shrink: 0;
    }
  }
}
