@import "../../style/mixin.scss";
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  src: url("../../assets/fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-cBd.ttf");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.MemberWrapper {
  display: flex;
  justify-content: center;
  .Member {
    font-family: Pretendard-Regular;
    width: 80%;
    height: 100%;
    // background-color: aliceblue;
    margin-top: 7vh;
    &-header {
      margin-top: 3%;
      &-text {
        font-size: 23px;
        font-weight: 700;
      }
      &-recommend {
        @include flex-start;
        justify-content: space-around;
        margin-top: 1.4%;
        .recommendCard {
          display: inline-grid; /* 추가 */
          transition: transform 0.4s; /* 추가 */
          transform: perspective(800px) rotateY(0deg); /* 추가 */
          transform-style: preserve-3d; /* 추가 */
          position: relative;
          .front {
            width: 12vw;
            height: 32vh;
            border-radius: 8px;
            // margin-right: 2%;
            padding: 3%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            backface-visibility: hidden; /* 추가 */
            grid-area: 1 / 1 / 1 / 1; /* 추가 */

            .recommend_name {
              font-size: 19px;
              font-weight: 600;
              width: 100%;
              height: 12%;
            }
            .recommend_position {
              font-size: 15px;
            }
            img {
              margin-top: 6%;
              width: 100%;
              height: 70%;
              border-radius: 8px;
            }
          }
          .back {
            width: 12vw;
            height: 32vh;
            border-radius: 8px;
            padding: 3%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            backface-visibility: hidden; /* 추가 */
            grid-area: 1 / 1 / 1 / 1; /* 추가 */
            transform: rotateY(180deg); /* 추가 */
            .recommend_name {
              font-size: 19px;
              font-weight: 600;
              width: 100%;
              height: 12%;
            }
            .recommend_position {
              font-size: 15px;
            }
            .back_body {
              width: 100%;
              height: 68%;
              position: relative;
              // background-color: #454a4e;
              &-devStyle {
                position: absolute;
                top: 30%;
                width: 30%;
                height: 20%;
                background-color: #daedff;
                color: #3182f6;
                border-radius: 8px;
                font-size: 0.9rem;
                @include flex-center;
              }
              &-skillWrapper {
                width: 100%;
                height: 20%;
                display: flex;
                gap: 1%;
                position: relative;
                top: 53%;
                // background-color: #3182f6;
              }

              .skill_icon {
                width: 30px;
                width: 30px;
              }
            }
            .back_footerWrapper {
              width: 100%;
              height: 10%;
              @include flex-center;

              .back_footer {
                width: 80%;
                height: 100%;
                background-color: #e9ecef;
                color: #47576a;
                border-radius: 8px;
                @include flex-center;
              }
            }
          }
        }
        .flipped {
          transform: rotateY(180deg); /* 클릭시 뒤집히도록 */
        }
      }
    }
    // &-body {
    // }
  }
}
