@import "../../style/mixin.scss";
@font-face {
  font-family: "laundrygothic_font";
  font-weight: normal;
  src: url("../../assets/fonts/LaundryGothic_TTF/런드리고딕\ Regular.ttf");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  src: url("../../assets/fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-cBd.ttf");
}
.Main {
  height: 100%;
  word-break: keep-all;
  margin-top: 7vh;
  font-family: "NanumSquareNeo";

  &-headerWrapper {
    font-family: "NanumSquareNeo";
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    .shape1 {
      width: 90vw;
      height: 60vw;
      position: absolute;
      top: 40%;
      border-radius: 380px;
      background: rgb(16, 89, 193);
      background: linear-gradient(
        355deg,
        rgba(16, 89, 193, 1) 0%,
        rgba(232, 254, 241, 1) 100%
      );
      box-shadow: 0 0 60px 15px rgba(137, 193, 238, 0.5); /* 흐리게 */
      z-index: -3;
    }

    .MainTitle {
      position: absolute;
      top: 20%;
      font-size: 48px;
      font-weight: 800;
    }
    .MainSubTitle {
      position: absolute;
      font-size: 20px;
      top: 31%;
      color: #868686;
    }
    .MainNavbtn {
      width: 13vw;
      height: 7vh;
      @include flex-center;
      background-color: white;
      position: absolute;
      top: 50%;
      font-size: 20px;
      border-radius: 8px;
    }
  }

  .info1 {
    height: 100%;
    width: 100%;
    background-color: white;
    @include flex-center;
    position: relative;
    &-content {
      width: 100%;
      height: 100%;
      display: flex;
      .iphone {
        position: absolute;
        top: 11%;
        left: 5%;
        width: 36vw;
        height: 80vh;
        z-index: 2;
      }
      .leftWrapper {
        width: 35%;
        height: 100%;
        .in_iphone {
          font-size: 13.4px;
          position: absolute;
          width: 15.8%;
          height: 61%;
          top: 17.4%;
          left: 15%;
          padding-top: 3%;
          padding-left: 0.5%;
          padding-right: 0.2%;
          border-radius: 5%;
          display: flex;
          flex-direction: column;
          align-items: end;
          .right_Msg {
            width: 90%;
            height: 50px;
            background-color: #3182f6;
            color: white;
            margin-bottom: 16%;
            border-radius: 5px;
            padding-left: 1.5%;
            @include flex-center;
          }
          .left_Msg {
            width: 80%;
            height: 33px;
            align-self: flex-start;
            margin-top: 10%;
            border: 1px solid #88b8ff;
            border-radius: 5px;
            padding-left: 1.5%;
            display: flex;
            align-items: center;
          }
        }
      }
      .rightWrapper {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .right {
          width: 100%;
          height: 77%;
          border-radius: 30px 0px 0px 30px;
          // border: 1px solid rgb(236, 236, 236);
          border-right: none;
          // box-shadow: 0 19px 38px rgba(0, 0, 0, 0.123),
          //   0 15px 12px rgba(0, 0, 0, 0.103);
          display: flex;
          align-items: center;
          .cardBundle {
            height: 60%;
            width: 36%;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.123),
              0 15px 12px rgba(0, 0, 0, 0.103);
            border-radius: 20px;
            padding: 1%;
            padding-top: 3%;
            margin-left: 5%;
            .main_lottie {
              width: 60%;
              height: 50%;
            }
            .card_text1 {
              font-size: 23px;
              height: 30%;
              width: 100%;
            }
            .card_text2 {
              height: 30%;
              width: 100%;
              display: flex;
              color: #47576a;
            }
            .card_text3 {
              width: 100%;
              height: 10%;
              color: #949494;
              display: flex;
              font-size: 14px;
              &-text {
                width: 24%;
                @include flex-start;
              }
              &-icon {
                width: 15px;
                fill: #949494;
              }
            }
          }
        }
      }
      // padding: 20% 5%;
      // display: flex;
      // justify-content: space-between;
      // height: 100%;
      // width: 100%;
      // position: relative;
      // img {
      //   width: 35vw;
      //   height: 77vh;
      //   position: absolute;
      //   top: 17%;
      //   left: -5%;
      //   // z-index: -1;
      // }
      // &-left {
      //   display: flex;
      //   flex-direction: column;
      //   text-align: center;
      //   font-size: 2vw;
      //   gap: 5%;

      //   &-head {
      //     color: #1059c1;
      //   }
      //   &-body {
      //     word-break: keep-all;
      //   }
      // }

      // &-right {
      //   width: 70%;
      //   height: 100%;
      //   background-color: #1059c1;
      //   display: flex;
      //   justify-content: space-between;
      //   &-box {
      //     box-sizing: border-box;
      //     width: 30%;
      //     border: 1px solid gray;
      //     padding: 7% 3%;
      //     text-align: center;
      //     display: flex;
      //     flex-direction: column;
      //     /* 그림자 추가 */
      //     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      //     &-head {
      //       font-weight: bolder;
      //       margin-bottom: 10%;
      //     }
      //   }
      // }
    }
  }
  .page_intro {
    width: 100%;
    height: 100%;
    border-top: 2px solid rgb(238, 238, 238);
    border-bottom: 2px solid rgb(238, 238, 238);
  }
  .info2 {
    box-sizing: border-box;
    height: 120%;
    width: 100%;
    background-image: linear-gradient(to bottom, #e6f0ff, #b4c8e6);
    display: flex;
    padding: 5%;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: column;
      font-size: 2vw;
      gap: 5%;

      &-txt1 {
        padding-top: 30%;
      }
      &-txt2 {
        font-weight: bolder;
      }
    }
    &-right {
      width: 70%;
      height: 90%;
      position: relative;

      &-box {
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        padding: 5% 3%;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 20%;
        aspect-ratio: 1 / 1;
        border-radius: 10%;
        font-weight: bolder;

        &-img {
          margin-bottom: 3%;
        }
      }

      .info2-right-box:nth-child(1) {
        top: 15%;
        left: 0;
      }

      .info2-right-box:nth-child(2) {
        top: 55%;
        left: 15%;
      }

      .info2-right-box:nth-child(3) {
        top: 5%;
        left: 30%;
      }
      .info2-right-box:nth-child(4) {
        top: 40%;
        left: 50%;
      }

      .info2-right-box:nth-child(5) {
        top: 0;
        left: 80%;
      }

      .info2-right-box:nth-child(6) {
        top: 70%;
        left: 80%;
      }
    }
  }
  .info3 {
    box-sizing: border-box;
    height: 130%;
    width: 100%;
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    .scroll {
      box-sizing: border-box;
      height: 70%;
      width: 70%;
      margin-top: 5%;
      position: absolute;

      .title {
        font-size: 1.3vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
        white-space: pre-wrap;
      }
      .img {
        height: 80%;
        background-color: #e6f0ff;
      }
    }

    .progressbar {
      position: relative;
      height: 5%;
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 2%;
      margin-bottom: 2%;

      .circle {
        width: 4%;
        padding-top: 4%;
        background-color: #e9ecef;
        border-radius: 50%;
        transition: all 200ms ease;
        transition-delay: 0s;
      }
      .circle.active {
        transition-delay: 100ms;
        background-color: #8fa9f1;
        color: #8fa9f1;
      }

      .progress-bar {
        position: absolute;
        left: 0;
        top: 50%;
        bottom: 86%;
        z-index: -1; // 안해주면 circle 부분 위에 배경이 표시된다.
        height: 4px;
        width: 100%;
        background: #e9ecef;
        transition: all 300ms ease;
      }
    }

    .btn-wrapper {
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%; /* 부모 요소 기준으로 중앙 정렬 */
      transform: translate(-50%); /* 중앙 정렬을 위한 이동 */
      display: flex;
      justify-content: space-between;

      .arrow {
        background: none;
        border: none;
      }
    }
  }
  .footer {
    box-sizing: border-box;
    height: 80%;
    background-color: #e7e7e7;

    padding: 5%;

    &-title {
      display: flex;
      span {
        font-size: 1.5vw;
      }
      img {
        width: 3%;
      }
    }

    &-profile {
      height: 30%;
      position: relative;
      top: 30%;
      padding: 0 20%;
      display: flex;
      justify-content: space-between;
      font-size: 1.3vw;

      &-box {
        display: flex;
        flex-direction: column;
        width: 40%;

        &-span1 {
          font-weight: bolder;
        }

        &-span2 {
          margin-bottom: 5%;
        }
      }
    }

    &-license {
      position: relative;
      top: 60%;
    }
  }
}
