@import "../../style/mixin.scss";
@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/Pretendard-Regular.otf");
}
.MypageWrapper {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard";
  .Mypage {
    width: 60%;
    height: 80vh;
    position: relative;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    &-head {
      height: 7%;
      width: 80%;
      position: absolute;
      top: 0;
      left: 1%;
      margin-top: 2%;
      font-size: 24px;
      font-weight: 700;
    }
    &-profileWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 4%;
      .temperature {
        height: 25px;
        width: 50%;
        @include flex-center;
        font-size: 22px;
        font-weight: 700;
        background-color: #ffdfdf;
        color: #ff4444;
        border-radius: 8px;
        margin-bottom: 5%;
      }
      .profile {
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }
    }
    &-body {
      width: 30%;
      height: 50%;
      .input_text {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 4%;
      }
      .input_box {
        width: 90%;
        border: 1px solid #cdcdcd;
        border-radius: 3px;
        height: 3.5vh;
      }
    }
    &-foot {
      .foot_btn {
        width: 10vw;
        height: 5vh;
        @include flex-center;
        border-radius: 8px;
        color: white;
        background-color: #1059c1;
        font-weight: 700;
      }
    }
  }
}
