.item {
  box-sizing: border-box;
  width: 30%;
  height: 340px;
  border: 1px solid #dee2e6;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &-top {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 1.5%;
    &-label {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 16%;
      margin-bottom: 3%;
      &-left {
        width: 20%;

        background-color: #b6e9ff;
        padding: 1%;
        font-size: 1vw;
        font-weight: bolder;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      &-right {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5%;
        justify-content: end;

        .newIcon {
          width: 20px;
          height: 20.5px;
          background-color: #ff4444;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 50%;
        }

        span {
          box-sizing: border-box;
          width: 50%;
          height: 100%;
          border: 1px solid #ff4444;
          border-radius: 10px;
          padding: 5%;
          font-size: 14px;
          color: #ff4444;
          text-align: center;
          font-weight: bold;
        }
        .endProject {
          border: 1px solid #adb5bd;
          color: #adb5bd;
        }
      }
    }
    &-title {
      width: 100%;
      height: 20%;
      font-size: 18px;
      font-weight: bolder;
      margin-top: 1%;
    }
    &-info {
      // margin-top: 3%;
      width: 100%;
      height: 50%;
      color: #adb5bd;
      font-weight: bolder;
    }
    .endProject_text {
      color: white;
    }
    &-feature_style {
      width: 100%;
      height: 20%;
      align-items: center;
      display: flex;
      &-feature {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2%;
        span {
          width: 100%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: #e9ecef;
          border-radius: 10px;
          font-size: 1vw;
          font-weight: bolder;
        }
      }
      &-style {
        width: 30%;
        height: 100%;

        display: flex;
        align-items: center;

        justify-content: center;
        span {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff3eb;
          border-radius: 10px;
          font-size: 1vw;
          font-weight: bolder;
          color: #fc8129;
        }
      }
    }

    &-skills {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        width: 30px;
        height: 30px;
        margin-right: 2%;
        object-fit: cover;
        border-radius: 100px;
        box-sizing: border-box;
        padding: 1%;
        border: 1px solid gray;
      }
    }

    hr {
      border: 0.3px solid rgb(233, 233, 233);
      // margin-top: 5%;
      width: 100%;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    &-left {
      font-weight: bolder;
      width: 40%;
      display: flex;

      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin-right: 5%;
        border-radius: 100px;
      }
    }

    &-right {
      width: 44%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bolder;
      &-watch {
        width: 20%;
        display: flex;

        justify-content: space-around;
        font-size: 0.9vw;
        .watch_icon {
          width: 19px;
          height: 19px;
          fill: #adb5bd;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
      &-chat {
        width: 44%;
        display: flex;
        justify-content: space-around;
        font-size: 0.9vw;
        .chat_icon {
          width: 19px;
          height: 19px;
          fill: #adb5bd;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
      &-heart {
        display: flex;
      }

      .heart_icon {
        width: 20px;
        height: 20px;
        margin-right: 5%;
        fill: #adb5bd;
      }

      .fill {
        width: 20px;
        height: 20px;
        margin-right: 5%;
        filter: invert(28%) sepia(91%) saturate(620%) hue-rotate(-50deg);
      }
    }
  }
}
