.Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2%;
  box-sizing: border-box;
  background-color: #d9d9d9;
  height: 7%;

  &-title {
    font-size: 1.4vw;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 9%;
    justify-content: space-between;

    &-img {
      width: 20px;
      height: 20px;
      background-color: #0c158a;
    }
  }

  &-ul {
    align-items: center;
    font-size: 1.2vw;
    width: 25%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
  }
}
