.LogIn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  box-sizing: border-box;
  background-color: #ebebeb;
  position: relative;

  // 배경 블러 효과를 위한 추가 스타일
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    backdrop-filter: blur(5px); /* 블러 처리 */
    z-index: 1; /* 모달보다 위에 위치하도록 설정 */
  }

  .back_wrapper {
    button {
      border: none;
      background-color: #ebebeb;

      img {
        width: 30px;
      }
    }
  }

  .content {
    display: flex;
    padding: 5%;
    height: 100%;
    justify-content: start;

    .left {
      font-size: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;

      &-title {
        font-size: 1.2vw;
        font-weight: bolder;
        display: flex;
        gap: 5%;

        img {
          width: 30px;
        }
      }

      h2 {
        font-size: 4vw;
      }

      span {
        font-size: 1.2vw;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      gap: 5%;
      padding-left: 35%;
      padding-top: 10%;

      button {
        height: 15%;
      }
    }
  }
}
