@font-face {
  font-family: "laundrygothic_font";
  font-weight: normal;
  src: url("../../assets/fonts/LaundryGothic_TTF/런드리고딕\ Regular.ttf");
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  src: url("../../assets/fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-cBd.ttf");
}
.LogIn {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  font-family: "NanumSquareNeo";
  // 배경 블러 효과를 위한 추가 스타일
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    backdrop-filter: blur(5px); /* 블러 처리 */
    z-index: 1; /* 모달보다 위에 위치하도록 설정 */
  }

  .back_wrapper {
    button {
      border: none;
      background-color: #ffffff;

      img {
        width: 30px;
      }
    }
  }

  .content {
    display: flex;
    padding: 5%;
    width: 100%;
    height: 100%;
    justify-content: start;
    // align-items: center;
    .left {
      font-size: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      margin-top: 5%;
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-title {
        font-size: 1.2vw;
        font-weight: bolder;
        display: flex;
        gap: 5%;

        img {
          width: 30px;
        }
      }
      h2 {
        font-size: 4vw;
      }
      span {
        font-size: 1.2vw;
        font-family: "laundrygothic_font";
      }
    }
    .mid {
      width: 40%;
      margin-left: 6%;
      img {
        width: 100%;
        height: 80%;
      }
    }
    .rightWrapper {
      width: 30%;
      height: 100%;

      .right {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        height: 100%;
        padding-left: 0%;
        // gap: 5%;
        .login_lottie {
          width: 30vw;
          height: 30%;
        }
      }
    }
  }
}
