@import "../../style/mixin.scss";
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: normal;
  src: url("../../assets/fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-cBd.ttf");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.ShareDetailLeaderWrapper {
  margin-top: 7vh;
  display: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Pretendard-Regular;
  .ShareDetailLeader {
    width: 80%;
    height: 100%;
    &-InputBox_Bunddle {
      width: 100%;
      height: 45vh;
      .InputBox_NameBundle {
        display: flex;
        align-items: center;
        margin-bottom: 3%;
        .nameText {
          height: 3vh;
          line-height: 3vh;
        }
        .nameInput {
          width: 13vw;
          height: 3vh;
          border-radius: 8px;
          border: 1px solid #adb5bd;
        }
        .teamNameWrapper {
          margin-right: 3%;
        }
      }
      .InputBox_linkBundle {
        margin-bottom: 2%;
        &-inputBox {
          width: 22vw;
          height: 3vh;
          border: none;
          border-bottom: 1px solid #adb5bd;
        }
      }
      .InputBox_descriptionBuncle {
        margin-bottom: 3%;
        textarea {
          margin-top: 1%;
          width: 40vw;
          height: 23vh;
          border-radius: 8px;
          border: 1px solid #adb5bd;
          font-size: 17px;
          padding: 0.7%;
        }
      }
    }
    &-AddImage_Bundle {
      margin-top: 5%;

      .Addimage_box_1 {
        margin-top: 1%;
        width: 300px;
        height: 30vh;
        border-radius: 18px;
        border: solid 1px #c4c4c4;
        @include flex-center;
      }
      .upload_btn {
        margin-top: 1%;
        @include flex-center;

        background-color: #47576a;
        width: 30%;
        height: 4vh;
        border-radius: 8px;
        color: white;
      }
    }
    &-Members_Bundle {
      margin-top: 3%;
      width: 100%;
      height: 30%;
      .memberCard_Wrapper_Root {
        display: flex;
        align-items: center;
        .memberCard_Wrapper {
          width: 10vw;
          height: 50%;
          margin-top: 3%;
          border-radius: 8px;
          border: 1px solid #c4c4c4;
          @include flex-column-center;
          margin: 1%;
          &-imgWrapper {
            width: 100%;
            height: 60%;
            img {
              width: 100%;
              height: 100%;
              border-radius: 8px 8px 0px 0px;
            }
          }
        }
        .AddMember {
          width: 8%;
          height: 10vh;
          background-color: #47576a;
          color: white;
          border-radius: 7px;
          @include flex-center;
        }
      }
    }
    &-Footer_BtnWrapper {
      margin-top: 3%;
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      .saveBtn {
        @include flex-center;
        border-radius: 8px;
        width: 13vw;
        height: 5vh;
        background-color: #ff4444;
        color: white;
      }
    }
  }
}
